* {
  user-select: none;
}

#score {
  font-size: 20px;
  position: absolute;
  margin-top: 13%;
  margin-left: 9%;
}
#oui {
  width: 100%;
}
#oui2 {
  width: 0%;
}
#oui3 {
  width: 0%;
}
#gameover {
  text-align: center;
  font-size: 50px;
  top: 50%;
  left: 50%; /* à 50%/50% du parent référent */
  transform: translate(-50%, -50%);
}

#dmg {
  font-size: 100 px;
}

.btn-group{
  margin: 0;
  position: absolute;
  top: 35%;
  left: 3.5%;
}

#volume{
  position: absolute; 
  display: none;

  margin-left: 75%;
  margin-top: 1%;
}
#mute{
  position: absolute; 
  margin-left: 75%;
  margin-top: 1%;
  width: 44px;
}

#pause{
  position: absolute; 
  margin-left: 78.5%;
  margin-top: 1%;
}
#play{
  position: absolute; 
  display: none;
  margin-left: 78.5%;
  margin-top: 1%;
}

#question{
  position: absolute; 
  margin-left: 81.5%;
  margin-top: 1%;
}
#howto{
  position:absolute;
  display: none;
  margin-left:75%;
  margin-top: 5%;
  border-radius: 5%;
  background-color: lightgrey;
}
